@tailwind base;
@tailwind components;
@tailwind utilities;


.scrolable-container{
  overflow: auto;
  max-height: 100vh;
}

.scrolable-View{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}